<!DOCTYPE html>
<html>
<head>
  <title>Imtaek's Korean Restaurant</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Imtaek's Korean Restaurant</h1>
    <%=yield%>
</body>
</html>
