<!DOCTYPE html>
<html>
<head>
  <title>Imtaek's Korean Restaurant</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%=params.to_s%>
  <header>
    <h1>Imtaek's Korean Restaurant</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu/all">Menu</a></li>
        <li><a href="/order/all">Order</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <%=yield%>

    <footer>
      Facebook | Twitter | Instagram | Phone# | address
    </footer>
  </div>
</body>
</html>
